html {
    background-color: rgb(199, 199, 199);
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    color: black;
    text-align: center;
    
    font-family: 'Montserrat', sans-serif;
    text-decoration: dotted;
}
h1{
    border: solid 1px black;
    border-radius: 8px;
    text-align: center;
    font-family: 'Poppins', sans-serif;    
}
h2{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
h3{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
p{
    font-family: 'Montserrat', sans-serif;
    padding: 0.3em;
    margin: 0.5em;
}

